<h1>Users#new</h1>

<%= form_for @user do |f| %>
<%= f.text_field :first_name %><br>
<%= f.text_field :last_name %><br>
<%= f.text_field :age %><br>

<!--
education
age
-->
<%= f.submit 'Register' %>
<br>
<% end %>
